#!/bin/bash
#SBATCH --get-user-env 
#SBATCH -o ${CODE_HOME}/assig4/ex2/logs/${FNAME}.%j.%N.out 
#SBATCH -D ${CODE_HOME}/assig4/ex2
#SBATCH -J QSort
#SBATCH --clusters=mpp3
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=1
#SBATCH --mail-type=END
#SBATCH --mail-user=sohaib.iftikhar@tum.de
#SBATCH --time=01:00:00
source /etc/profile.d/modules.sh
amplxe-cl -collect hotspots ./quicksort
